.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-view-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media screen and (min-width: 576px) {
  .game-view-container {
    margin-top: 44px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .game-view-container {
    width: 80%;
    margin-top: 74px;
    margin-bottom: 74px;
  }
}
@media screen and (min-width: 992px) {
  .game-view-container {
    width: 70%;
    margin-top: 104px;
    margin-bottom: 104px;
  }
}

.image {
  width: 100%;
}

.tabs-list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

@media screen and (min-width: 576px) {
  .tabs-list {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .tabs-list {
    margin-top: 34px;
  }
}

@media screen and (min-width: 992px) {
  .tabs-list {
    margin-top: 40px;
  }
}

.thumbnail-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .thumbnail-list {
    justify-content: flex-start;
  }
}

.gameover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  width: 500px;
  height: 650px;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .gameover-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
    width: 90%;
    height: 80%;
    padding: 40px;
    margin-top: 40px;
  }
}

.trophy-image {
  width: 280px;
  height: 220px;
  margin-top: 180px;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
}

.your-score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 34px;
  margin: 10px;
  font-weight: 600;
  margin-bottom: 25px;
}

.play-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-style: none;
  outline: none;
  cursor: pointer;
  background-color: #cf60c8;
  border-radius: 10px;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
}

.restart {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
