.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-container {
  width: 90%;
  height: 100vh;
  margin-top: 26px;
  margin-bottom: 26px;
}

@media screen and (min-width: 576px) {
  .responsive-container {
    width: 90%;
    margin-top: 44px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .responsive-container {
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 80vh;
  }
}

@media screen and (min-width: 992px) {
  .responsive-container {
    width: 64%;
    margin-top: 120px;
    margin-bottom: 120px;
    height: 80vh;
  }
}

.game-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.large-image {
  width: 100%;
}

.tabs-list {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  list-style-type: none;
}

.thumbnail-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .thumbnail-list {
    justify-content: flex-start;
  }
}

.game-over-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .game-over-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    height: 100%;
  }
}

.trophy-image {
  width: 160px;
  height: 120px;
  margin-top: 120px;
}

@media screen and (min-width: 576px) {
  .trophy-image {
    width: 240px;
    height: 200px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .trophy-image {
    width: 340px;
    height: 250px;
    margin-top: 100px;
  }
}

@media screen and (min-width: 992px) {
  .trophy-image {
    width: 380px;
    height: 300px;
    margin-top: 60px;
  }
}

.score-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600px;
  margin-top: 10px;
}

@media screen and (min-width: 576px) {
  .your-score {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .your-score {
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) {
  .your-score {
    font-size: 34px;
  }
}

.score-count {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 38px;
  margin: 0px;
}

@media screen and (min-width: 576px) {
  .score-count {
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .score-count {
    font-size: 48px;
  }
}

.play-again-button {
  display: flex;
  align-items: center;
  background-color: #cf60c8;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
}

.reset {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

@media screen and (min-width: 768px) {
  .reset {
    width: 20px;
    height: 20px;
  }
}

.play-again{
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}