.tab-item {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 576px) {
  .tab-item {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media screen and (min-width: 769px) {
  .tab-item {
    margin-left: 28px;
    margin-right: 28px;
  }
}

.tab-btn {
  display: flex;
  align-items: center;
  border: none;
  font-family: 'Roboto';
  background-color: transparent;
}

.active-tab {
  font-size: 12px;
  font-weight: 500;
  color: #fec653;
  border-bottom: 2px solid #fec653;
}

@media screen and (min-width: 576px) {
  .active-tab {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .active-tab {
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) {
  .active-tab {
    font-size: 34px;
  }
}

.inactive-tab{
  font-size: 12px;
  font-weight: 500;
  color:#ffffff;
}


@media screen and (min-width: 576px) {
  .inactive-tab {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .inactive-tab {
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) {
  .inactive-tab {
    font-size: 34px;
  }
}
