.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2c0e3a;
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (min-width: 576px) {
  .navbar-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.website-logo {
  width: 100px;
}

@media screen and (min-width: 576px) {
  .website-logo {
    width: 140px;
  }
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 200px;
  }
}

.score-and-seconds-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.score-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

@media screen and (min-width: 576px) {
  .score-container {
    margin-right: 18px;
  }
}

@media screen and (min-width: 576px) {
  .score-container {
    margin-right: 24px;
  }
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
}

@media screen and (min-width: 576px) {
  .score {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 26px;
  }
}

.score-value {
  color: #fec653;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  margin-left: 4px;
}

@media screen and (min-width: 576px) {
  .score-value {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .score-value {
    font-size: 32px;
  }
}

.timer-and-seconds-container {
  display: flex;
  align-items: center;
}

.timer-img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

@media screen and (min-width: 576px) {
  .timer-img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .timer-img {
    width: 28px;
    height: 28px;
  }
}

.seconds {
  color: #fec653;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  .seconds {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .seconds {
    font-size: 28px;
  }
}
